* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem;
}
.wrap {
  max-width: 800px;
}
.valueRow > div {
  padding: 0 1rem;
}
.valueRow .valueInput input {
  font-size: 2rem;
  text-align: center;
  height: 4rem;
}
.valueRow .valueInput span {
  font-size: 2rem;
}
.countDown > div {
  margin: 0.5rem 0;
}
.countDown .timeLeft {
  display: flex;
  white-space: nowrap;
}
.countDown .timeLeft .field > div {
  font-size: 3.5rem;
}
.countDown .timeLeft > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 0.5rem;
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  border: 0.25rem solid #000;
}
.countDown .control {
  display: flex;
  justify-content: center;
}
.countDown .control > * {
  margin: 0 0.5rem;
}
